.player {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease forwards;
}

.player img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.player iframe {
    border-radius: 10px;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}